<div>
    <app-header/>
</div><!-- Client selection -->
<div class="row">
    <div class="col-md-12">
        <h2>Manage Projects</h2>
    </div>
</div>
<div class="row" ng-if="ready === false">
    <div class="col-md-8">
        <div class="form-group">
            <label for="client">Select client</label>
            <select id="client" ng-change="loadClient()" ng-model="client.name" class="form-control">
                <option ng-repeat="client in clientList" value="{{client.name}}" ng-blur="loadClient()">{{client.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-4"><p>Please review the instructions on how to add a client if what you need is not in the dropdown menu.</p>
        <a href="#/addclient"><button class="btn btn-primary">ADD CLIENT</button>
    </a></div>
</div>

</div></div><!-- Job fields -->
<div ng-if="preview === false">
    <div class="row" ng-if="ready === true">
        <div class="col-md-12"><h5>{{client.name}}</h5></div>
    </div>
    <div ng-if="ready === true">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="jobNumber">Job Number</label>
                    <input id="jobNumber" placeholder="Job Number" class="form-control" ng-model="job.number">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="jobTitle">Job Title</label>
                    <input id="jobTitle" placeholder="Job Title" class="form-control" ng-model="job.title">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="manager">Manager</label>
                    <input id="manager" placeholder="Manager" class="form-control" ng-model="job.manager">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="designer">Designer</label>
                    <input id="designer" placeholder="Designer" class="form-control" ng-model="job.designer">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="jobDescription">Description</label>
                    <textarea id="jobDescription" rows="5" placeholder="Job Description" class="form-control" ng-model="job.description"></textarea>
                </div>
            </div>
        </div>
        <!-- Assets -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-if="asset != 'link'">
                    <label for="path">Asset Path:</label>
                    <input id="path" placeholder="http://devreview/projects/{{jobEntity.get('data').id}}/" class="form-control" ng-model="assetPath.path" ng-init="assetPath.path = 'http://devreview/projects/assets/'+jobEntity.get('data').id+'/'">
                </div>
                <div class="form-group">
                    <label for="asset">Add Asset</label> <select id="asset" class="form-control" ng-model="asset" ng-blur="clearAssets()">
                    <option value="image" selected>Image</option>
                    <option value="link">Link</option>
                    <option value="download">Download</option>
                    <option value="iframe">iFrame</option>
                    <option value="" disabled>SWF</option>
                    <option value="" disabled>Video</option>

                </select>
                </div>
            </div>
            <div class="col-md-3">
                <div ng-if="asset === 'download'">
                    <div class="form-group">
                        <label for="zip">Zip File</label>
                        <input id="zip" placeholder="File" class="form-control" ng-model="download.file">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" placeholder="File" class="form-control" ng-model="download.name">
                    </div>
                </div>

                <div ng-if="asset === 'link'">
                    <div class="form-group">
                        <label for="linkName">Display Text</label>
                        <input id="linkName" placeholder="File" class="form-control" ng-model="link.name">
                    </div>
                    <div class="form-group">
                        <label for="linkDesc">Description</label>
                        <input id="linkDesc" placeholder="File" class="form-control" ng-model="link.description">
                    </div>
                    <div class="form-group">
                        <label for="link">HREF</label>
                        <input id="link" placeholder="File" class="form-control" ng-model="link.href">
                    </div>
                </div>

                <div ng-if="asset === 'iframe'">
                    <div class="form-group">
                        <label for="src">Source</label>
                        <input id="src" placeholder="File" class="form-control" ng-model="iframe.src">
                    </div>
                    <div class="form-group">
                        <label for="frameWidth">Width</label>
                        <input id="frameWidth" placeholder="File" class="form-control" ng-model="iframe.width">
                    </div>
                    <div class="form-group">
                        <label for="frameHeight">Height</label>
                        <input id="frameHeight" placeholder="File" class="form-control" ng-model="iframe.height">
                    </div>
                </div>

                <div ng-if="asset === 'swf'">
                    <div class="form-group">
                        <label for="swfName">Name</label>
                        <input id="swfName" placeholder="File" class="form-control" ng-model="swf.name">
                    </div>
                    <div class="form-group">
                        <label for="swfFile">File</label>
                        <input id="swfFile" placeholder="File" class="form-control" ng-model="swf.file">
                    </div>
                    <div class="form-group">
                        <label for="swfHeight">Height</label>
                        <input id="swfHeight" placeholder="File" class="form-control" ng-model="swf.height">
                    </div>
                    <div class="form-group">
                        <label for="swfWidth">Width</label>
                        <input id="swfWidth" placeholder="File" class="form-control" ng-model="swf.width">
                    </div>
                </div>

                <div ng-if="asset === 'image'">
                    <div class="form-group">
                        <label for="imgName">Description</label>
                        <input id="imgName" placeholder="File" class="form-control" ng-model="image.description">
                    </div>
                    <div class="form-group">
                        <label for="imgFile">File</label>
                        <input id="imgFile" placeholder="File" class="form-control" ng-model="image.file">
                    </div>
                    <div class="form-group">
                        <label for="imgHeight">Height</label>
                        <input id="imgHeight" placeholder="File" class="form-control" ng-model="image.height">
                    </div>
                    <div class="form-group">
                        <label for="imgWidth">Width</label>
                        <input id="imgWidth" placeholder="File" class="form-control" ng-model="image.width">
                    </div>
                </div>

                <div ng-if="asset === 'video'">
                    <p>Not available.</p>
                </div>

                <button class="btn btn-primary" ng-click="addAsset(asset)" ng-if="asset">Add Asset</button>

            </div>
            <div class="col-md-5">
                <p><strong>Asset List</strong></p>

                <div class="well well-small" ng-repeat="asset in assets">
                    <p>
                        <button class="btn btn-xs btn-danger" ng-click="deleteAsset(asset)">DELETE</button>
                        <small>{{asset}}</small>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div><!-- Options -->
<div class="row" ng-if="(preview === false)&&(ready === true)">
    <hr>
    <div class="col-md-12">
        <p align="center">
            <button class="btn btn-primary" ng-click="reset()">Cancel</button>
            <button class="btn btn-primary" ng-click="viewJob(true)">Preview Page</button>
            <button class="btn btn-primary" ng-click="saveJob()">Save Job</button>
        </p>
    </div>
</div><!-- Job preview -->
<div class="row" ng-if="preview === true">

    <project-details job="job"></project-details>

    <div class="col-md-12">

        <project-download ng-repeat="download in job.downloads" download="download"></project-download>

        <project-iframe ng-repeat="iframe in job.iframes" iframe="iframe"></project-iframe>

        <project-image ng-repeat="image in job.images" image="image"></project-image>

        <project-link ng-repeat="link in job.links" link="link"></project-link>

        <project-flash ng-repeat="flash in job.swfs" flash="flash"></project-flash>

    </div>
</div>
<div class="row" ng-if="preview === true">
    <hr>
    <div class="col-md-12">
        <p align="center">
            <button class="btn btn-primary" ng-click="viewJob(false)">Close Preview</button>
        </p>
    </div>
</div>
<div class="row" ng-if="(ready === true)&&(preview === false)">
    <hr>
    <div class="col-md-12"><h2>Current jobs for {{client.name}}</h2></div>
    <div class="col-md-6" ng-repeat="job in clientJobList.jobs track by $id($index) | orderBy:job.number">
        <div class="well well-small">
            <p><small><a href="#/clients/{{client.name}}/projects/{{job.number}}" target="_blank">{{job.number}} - {{job.title}}</a></small>
                <br>
                <button class="btn btn-xs btn-warning" ng-click="editJob(job.number, job.title)">EDIT</button>
                <button class="btn btn-xs btn-danger" ng-click="deleteJob(job.number)">DELETE</button>

            </p>
        </div>
    </div>

</div>