<div>
    <app-header/>
</div>

<div class="row">
    <project-details job="job"></project-details>

    <div class="col-md-12">

        <project-download ng-repeat="download in job.downloads" download="download"></project-download>

        <project-image ng-repeat="image in job.images" image="image"></project-image>

        <project-link ng-repeat="link in job.links" link="link"></project-link>

        <project-flash ng-repeat="flash in job.swfs" flash="flash"></project-flash>

    </div>
</div>














