<div>
    <app-header/>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 align="center">{{job.number}} - {{job.title}}</h4>

        <p align="center" ng-if=" job.description"><strong>Details:</strong><br>{{job.description}}</p>

        <p align="center" ng-if="(job.manager)&&(job.designer)">Manager: {{job.manager}}<br>Designer: {{job.designer}}</p>
    </div>
    <div class="col-md-12">
        <hr>
        <p align="center" ng-repeat="download in job.downloads">
            <a href="{{download.file}}" target="_blank">
                <button class="btn btn-primary">{{download.name}}</button>
            </a>
        </p>
        <p align="center" ng-repeat="image in job.images">
            {{image.description}}<br>
            <img ng-src="{{image.file}}" alt="{{image.name}}" width="{{image.width}}" height="{{image.height}})" class="img-responsive">
        </p>

        <p align="center" ng-repeat="link in job.links">
            {{image.description}}<br>
            <img ng-src="{{image.file}}" alt="{{image.name}}" width="{{image.width}}" height="{{image.height}})" class="img-responsive">
        </p>
    </div>
</div>














