<div>
    <app-header/>
</div>

<div class="row">
    <div class="col-md-12"><h2>All Projects</h2></div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="search">Search</label>
            <input id="search" ng-model="query" placeholder="Search" class="form-control">
        </div>
    </div>
</div>

<div class="row" ng-repeat="client in data.clients">
    <div class="col-md-12">
        <div class="well well-small"><h4>{{client.name}}</h4></div>
    </div>
    <div class="col-md-4" ng-repeat="job in client.jobs | filter:query">
        <div class="well well-small"><project-job></project-job></div>
    </div>
</div>

